<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
<title>Tiffin Ordering System - Product Form</title>
</head>
<body>
<div class="container">
<table class="table">
<thead>
<tr>
<th>pro_id</th>
<th>Name</th>
<th>Price</th>
<th>Category</th>
<th>Quantity</th>
<th>Image</th>

<th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="product : ${products}">
<td th:text="${product.proId}"></td>
<td th:text="${product.name}"></td>
<td th:text="'Rs. ' + ${product.price}"></td>
<td th:text="${product.category}"></td>
<td th:text="${product.quantity}"></td>
<td>
<img th:src="@{'/images/' + ${product.imageFileName}}" alt=".." width="100">
</td>

<td style="white-space:nowrap">
<a class="btn btn-primary btn-sm"
   th:href="@{/products/create(id=${product.proId})}">Add</a>

<a class="btn btn-primary btn-sm"
   th:href="@{/products/edit(id=${product.proId})}">Edit</a>
   
<a class="btn btn-primary btn-sm"
   th:href="@{/products/delete(id=${product.proId})}"
   onclick="return confirm('Are You Sure?')">Delete</a>
</td>
</tr>
</tbody>
</table>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>
